#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.keyboard {
    justify-content: center;
    padding-right: 30vw;
    padding-left: 30vw;
}
.keyboard button{
  width: 80px;
  height: 80px;
  font-size: 25px;
}

textarea {
  width: 500px;
  height: 300px;
}

.colors {
  
  display: inline-flex;
  max-width: 300px;
}
.colors button {
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  margin: 3px;
  border: 1px solid white;
}

nav {
  display: flex;
  left: 1px;
  border-bottom: 3px solid rgb(234, 232, 232);
  padding: 15px;
  width: 100%;
  background-color: beige;
}

.inputDiv {
  border: 1px solid rgb(136, 136, 136);
  min-height: 50px;
  margin-top: 40px;
}
.specials button{
  width: 100px;
  height: 80px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.specials{
  display: flex;
  justify-content: center;
}
main{
  margin-top: 0px;
}

